.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
/build-node/
/.backoffice-node/
.source

# Cloudflare
.mf
.wrangler
.dev.vars*
!.dev.vars.example
worker-configuration.d.ts

# Typescript
*.tsbuildinfo
