@import "tailwindcss";

@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/GeistVF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-sans:
    "Geist Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Geist Mono", ui-monospace, monospace;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
